.navigation {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: space-between;

	background-color: white;
	padding-block: 0.75rem;
}

.btn {
	font-size: 2rem;
	color: #5EBB47;
}

.date-display {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;

	.day-date-row {
		font-weight: bold;
		font-size: 18px;
	}

	.month-year-row {
		font-size: 14px;
	}
}
