<div class="marketplace-splash-container">
	<div class="hero-section">
		<div class="hero-content">
			<h1>Field to Pocket</h1>
			<p>Fresh, local, and direct to you.</p>
		</div>
	</div>

	<section class="selection-section">
		<span class="section-header">
			<h3>Browse by category</h3>
		</span>

		<span (click)="navMarketplaceVegetable()" class="section crops-section">
			<div class="span-group">
				<div class="plant-card">
					<div class="plant-image">
						<img src="assets/images/img/illus_fruits_and_veggie.jpg" alt="Fruits & Veggies" />
					</div>
					<div class="plant-content">
						<h2>Vegetable & Fruits</h2>
						<p>Fresh harvests from local growers</p>
					</div>
				</div>
			</div>
		</span>
		<span (click)="navMarketplaceDecorative()" class="section decorative-plants-section">
		<span class="span-group">
			<div class="plant-card">
				<div class="plant-image">
					<img src="assets/images/img/illus_monstera.jpg" alt="Decorative plant" />
				</div>
				<div class="plant-content">
					<h2>Decorative Plants</h2>
					<p>Bring nature into your space.</p>
				</div>
			</div>
		</span>
	</span>
		<span (click)="navMarketplaceSeedlings()" class="section seedlings-section">
		<div class="span-group">
			<div class="plant-card">
				<div class="plant-image">
					<img src="assets/images/img/illus_seedlings.jpg" alt="Decorative plant" />
				</div>
				<div class="plant-content">
					<h2>Seedlings</h2>
					<p>Young plants ready for transplant and growth.</p>
				</div>
			</div>
		</div>
	</span>
	</section>

	<section class="preview-section">
		<!-- section -->
		<section class="crop-section">
			<span class="section-header-mini">
			<h3>Fresh Harvest</h3>

			<div class="see-all-button">
				<button (click)="navMarketplaceVegetable()">View All</button>
			</div>
		</span>

			<span class="section vegetable-section">
			<div class="span-group">
				@for ((item of cropsListing$ | async); track item) {
					<div class="plant-card">
					<div class="plant-image">
						<img [src]="item?.imageUrl" alt="assets/images/carrots.jpg"/>
					</div>
					<div class="plant-content">
						<span class="crp-info">
							<div class="crp-name">{{ item?.produce?.name }}</div>
							<div class="crp-price">{{item?.price}} rs / @switch (item?.unit) {
								@case ("KG") {
									Kg
								}
								@case ("PACKET") {
									Pkts
								}
								@case ("BOX") {
									Boxes
								}
								@case ("UNITS") {
									Units
								}
							}
							</div>
						</span>
						<span class="seller-info">
							<span class="crp-quantity">
									Qty: {{item?.quantity}} @switch (item?.unit) {
								@case ("KG") {
									Kg
								}
								@case ("PACKET") {
									Pkts
								}
								@case ("BOX") {
									Boxes
								}
								@case ("UNITS") {
									Units
								}
							}
								</span>
							<div class="region">{{item?.seller?.region}}</div>
						</span>
					</div>
				</div>
				}
			</div>
		</span>
		</section>

		<section class="botanical-section">
			<!-- section -->
			<span class="section-header-mini">
				<h3>Botanical Living</h3>

				<div class="see-all-button">
					<button (click)="navMarketplaceDecorative()">View All</button>
				</div>
			</span>

			<span class="section decorative-section">
				<div class="span-group">
					@for ((item of decorativeListing$ | async); track item) {
						<div class="plant-card">
					<div class="plant-image">
						<img [src]="item?.imageUrl" alt="assets/images/carrots.jpg"/>
					</div>
					<div class="plant-content">
						<span class="crp-info">
							<div class="crp-name">{{ item?.produce?.name }}</div>
							<div class="crp-price">{{item?.price}} rs / @switch (item?.unit) {
								@case ("POT") {
									Pot
								}
								@case ("TRAY") {
									Tray
								}
								@case ("BUNCH") {
									Bunch
								}
								@case ("UNITS") {
									Units
								}
							}
							</div>
						</span>
						<span class="seller-info">
							<span class="crp-quantity">
									Qty: {{item?.quantity}} @switch (item?.unit) {
								@case ("POT") {
									Pots
								}
								@case ("TRAY") {
									Trays
								}
								@case ("BUNCH") {
									Bunch
								}
								@case ("UNITS") {
									Units
								}
							}
								</span>
							<div class="region">{{item?.seller?.region}}</div>
						</span>
					</div>
				</div>
					}
				</div>
			</span>
		</section>

		<section class="seedlings-section">
			<!-- section -->
			<span class="section-header-mini">
				<h3>Seedling Haven</h3>

				<div class="see-all-button">
					<button (click)="navMarketplaceSeedlings()">View All</button>
				</div>
			</span>

			<span class="section seedling-section">
				<div class="span-group">
					@for ((item of seedlingListing$ | async); track item) {
						<div class="plant-card">
					<div class="plant-image">
						<img [src]="item?.imageUrl" alt="assets/images/carrots.jpg"/>
					</div>
					<div class="plant-content">
						<span class="crp-info">
							<div class="crp-name">{{ item?.produce?.name }}</div>
							<div class="crp-price">{{item?.price}} rs / @switch (item?.unit) {
								@case ("Bag") {
									Bag
								}
								@case ("PACKET") {
									Pkts
								}
								@case ("BOX") {
									Boxes
								}
								@case ("UNITS") {
									Units
								}
							}
							</div>
						</span>
						<span class="seller-info">
							<span class="crp-quantity">
									Qty: {{item?.quantity}} @switch (item?.unit) {
								@case ("KG") {
									Kg
								}
								@case ("PACKET") {
									Pkts
								}
								@case ("BOX") {
									Boxes
								}
								@case ("UNITS") {
									Units
								}
							}
								</span>
							<div class="region">{{item?.seller?.region}}</div>
						</span>
					</div>
				</div>
					}
				</div>
			</span>
		</section>
	</section>
</div>
