<div class="mrk-item-container">
	<div class="item-image">
		<img src="assets/images/carrots.jpg" alt="."/>
	</div>
	<div class="item-info">
		<span class="date">
			<div>{{item?.creationDate}}</div>
		</span>

		<span class="crp-info">
			<div>Item: {{item?.produce?.name}}</div>
			<div>Volume: {{item?.quantity}} {{item?.unit}}</div>
			<div>Price: {{item?.price}} / {{item?.unit}}</div>
		</span>

		<span class="seller-info">
			<div>Call: {{item?.seller?.phone}}</div>
			<div>Region: {{item?.seller?.region}}</div>
			<div>Locality: {{item?.seller?.region}}</div>
		</span>

	</div>
</div>

