:host {
	font-size: 15px;
	line-height: 19px;
}

.mrk-item-container {
	display: flex;
	min-height: 172px;

	border-radius: 6px;
	background-color: #F0F0F0;
}

.item-image {
	max-width: 150px;
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;

		border-radius: 6px 0 0 6px;
	}
}

.item-info {
	display: flex;
	flex-flow: column nowrap;
	flex-grow: 1;
	margin-left: 14px;

	.date {
		font-size: 14px;
		margin-top: 7px;
	}

	.crp-info {
		padding-top: 6px;
		padding-bottom: 12px;
		border-bottom: 1px solid #E1E1E1;
	}

	.seller-info {
		margin-top: 6px;
	}
}
