<div class="historic" xmlns="http://www.w3.org/1999/html">
	<div>
		<span>Select Crop</span>
		<select id="crop" class="form-control" formControlName="crop">
			<option value="" disabled selected>Choose...</option>
			@for (item of DROP_DOWN_VALUE; track item) {
				<option [value]="item.id"> {{ item.name }}</option>
			}
		</select>
	</div>

	<div>
		<span>Date Range</span>
		<span class="date-ranges">
			<div class="date-range-each">7 days</div>
			<div class="date-range-each">30 days</div>
			<div class="date-range-each">90 days</div>
			<div class="date-range-each">All Time</div>
		</span>
	</div>

	<div>
		<span>Price Statistics</span>
		<span class="price-statistics">
			<div class="price-statistic">
				<span>25</span>
				<span>Lowest Price</span>
			</div>

			<div class="price-statistic">
				<span>35</span>
				<span>Average Price</span>
			</div>

			<div class="price-statistic">
				<span>55</span>
				<span>Highest Price</span>
			</div>
		</span>
	</div>

	<div style="display: block;">
		<canvas baseChart width="400" height="400"
						[type]="'line'"
						[data]="lineChartData"
						[options]="lineChartOptions"
						[legend]="lineChartLegend">
		</canvas>
	</div>

	<div style="display: block;">
		<canvas baseChart width="400" height="400"
						[type]="'bar'"
						[data]="barChartData"
						[options]="barChartOptions"
						[legend]="lineChartLegend">
		</canvas>
	</div>

	<div style="display: block;">
		<canvas baseChart width="400" height="400"
						[type]="'line'"
						[data]="averageRevenueChart"
						[options]="lineChartOptions"
						[legend]="lineChartLegend">
		</canvas>
	</div>
</div>
