.historic {
	padding-bottom: 100px;
}

.date-ranges {
	display: flex;
	flex-flow: row nowrap;
	gap: 1rem;
	justify-content: center;
}

.date-range-each {
	background-color: #cce5ff;
	padding: 0.5rem;
}

.price-statistics {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	gap: 1rem;
}

.price-statistic {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	background-color: #cce5ff;
}
