<div class="user-profile-container">
	<div class="header">
		<img src="assets/svgs/user-profile-icon.svg" alt="profile icon">
		<span>About You</span>
	</div>

	<span class="span-group">
		<div class="user-info">
			<div class="username">
			<span>Username: {{ currentUser?.username }}</span>
			</div>
			<div class="additional-info">
				<span>email: {{ currentUser?.email }}</span>
				<span>phone: {{ currentUser?.phone }}</span>
				<span>region: {{ currentUser?.region }}</span>
			</div>

			<div class="logout-button">
				<button (click)="logout()">LOG OUT</button>
			</div>
		</div>
	</span>

	<div>
	</div>

	<div class="my-listing">
		<span class="span-group">
			<span class="category-group">
				<h3>My Listings</h3>
				@if (userListingLoaded$ | async) {
					<span class="marketplace-items">
						@for (item of userListings; track item.id) {
							<app-marketplace-item [item]="item" [isModifiable]="true" (modified)="fetchListingsByUserId()"></app-marketplace-item>
						}
					</span>
				} @else {
					<span class="skeleton-spacer">
						<div class="skeleton-container">
						<span class="photo">
							<ngx-skeleton-loader [theme]="{ height: '100%', 'border-radius': '8px' }"></ngx-skeleton-loader>
						</span>
						<span class="text">
							<ngx-skeleton-loader [count]="6" [theme]="{ 'border-radius': '8px', height: '17px' }"></ngx-skeleton-loader>
						</span>
					</div>
						<div class="skeleton-container">
						<span class="photo">
							<ngx-skeleton-loader [theme]="{ height: '100%', 'border-radius': '8px' }"></ngx-skeleton-loader>
						</span>
						<span class="text">
							<ngx-skeleton-loader [count]="6" [theme]="{ 'border-radius': '8px', height: '17px' }"></ngx-skeleton-loader>
						</span>
					</div>
					</span>
				}
			</span>
		</span>
	</div>

	@if(currentUser?.roles?.includes("ROLE_PREMIUM1") || currentUser?.roles?.includes("ROLE_ADMIN")) {
		<span class="span-group">
			<span class="category-group">
				<h3>Purchases</h3>
				@if (purchasesLoading$ | async) {
					<span class="align-spinner">
						<ngx-skeleton-loader class="skeleton col-12"
									count="5"
									appearance="line"
									[theme]="{ 'height.px': 45,'background-color': '#F2F2F2'}"/>
					</span>
				} @else {
					<span class="details">
					<table mat-table [dataSource]="datasource" class="mat-elevation-z8">
						<!-- Position Column -->
						<ng-container matColumnDef="crop">
							<th mat-header-cell *matHeaderCellDef>Crop</th>
							<td mat-cell *matCellDef="let element">{{element.historyDTO.vegetableName}}</td>
						</ng-container>

						<!-- Position Column -->
						<ng-container matColumnDef="rangeStartDate">
							<th mat-header-cell *matHeaderCellDef>From</th>
							<td mat-cell *matCellDef="let element">{{element.rangeStartDate}}</td>
						</ng-container>

						<!-- Position Column -->
						<ng-container matColumnDef="rangeEndDate">
							<th mat-header-cell *matHeaderCellDef>To</th>
							<td mat-cell *matCellDef="let element">{{element.rangeEndDate}}</td>
						</ng-container>

						<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
						 <tr
							 mat-row
							 (click)="clickedRow(row)"
							 *matRowDef="let row; columns: displayedColumns;"
						 ></tr>
					</table>
				</span>
				}
			</span>
	</span>
	}

</div>
