.skeleton {
	display: inline-block;
}

.table {
	flex-grow: 1;

	.sticky {
		position: sticky;
		top: 86px;
		z-index: 1;
	}

	thead {
		border-bottom: solid 3px #5EBB47;
		font-size: 14px;
		th {
			background-color: #343434;
			color: white;
			font-weight: normal;

			&.font-bold {
				font-weight: bold;
			}

			padding-block: 1.25rem;
		}
	}

	td {
		font-size: 15px;
		padding-block: 15px;

		&.font-bold {
			font-weight: bold;
		}
	}

	tr, td {
		border-style: unset;
	}

	tr, td, th {
		&.col-5 {
			padding-left: 1.25rem;
		}
	}
}
