<app-listing-nav (changeDateAfter)="nextDate($event)" (changeDateBefore)="previousDate($event)" (currentDate)="currentDate($event)"></app-listing-nav>

<table class="table table-striped">
  <thead class="sticky">
		<tr>
			<th scope="col" class="col-5 font-bold">ITEM</th>
			<th scope="col" class="col">UNIT</th>
			<th scope="col" class="col">LO</th>
			<th scope="col" class="col">HI</th>
			<th scope="col" class="col font-bold">NORM</th>
			<th scope="col" class="col">TTL</th>
		</tr>
  </thead>
  <tbody>
    @for (vegetable of vegetables$ | async; track vegetable.name) {
      <tr>
        <td class="col-5 font-bold">{{ vegetable.name | replaceBaton }}</td>
				<td [ngSwitch]="vegetable.unitOfMeasure" class="col">
					<ng-container *ngSwitchCase="Unit.KG">Kg</ng-container>
					<ng-container *ngSwitchCase="Unit.UNITS">Unit</ng-container>
					<ng-container *ngSwitchCase="Unit.PACKET">Pkt</ng-container>
				</td>
				<td class="col">{{ vegetable.lowPrice }}</td>
				<td class="col">{{ vegetable.highPrice }}</td>
        <td class="col font-bold">{{ vegetable.averagePrice }}</td>
				<td class="col">{{ vegetable.totalSold }}</td>
      </tr>
			@if (vegetable.id === 4) {
				<tr>
					<td class="ads-row" colspan="6">
						<div class="image-container">
							<a href="tel:6261665">
								<img class="responsive-image" src="assets/images/ads/kozpri_kr_temp_ads.png" alt="ads">
							</a>
						</div>
					</td>
				</tr>
			}
    } @empty {
			<td colspan="12">
				<ngx-skeleton-loader class="skeleton col-12" count="30" appearance="line" [theme]="{ 'height.px': 45,'background-color': '#F2F2F2'}"/>
			</td>
    }
  </tbody>
</table>

<app-join-social></app-join-social>

<footer>Source: AMB</footer>
