/* You can add global styles to this file, and also import other style files */
@font-face {
	font-family: "Roboto Condensed";
	src: url("/assets/fonts/RobotoCondensed-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Roboto Condensed";
	src: url("/assets/fonts/RobotoCondensed-Bold.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "Roboto";
	src: url("/assets/fonts/Roboto-Bold.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
}

body {
	font-family: "Roboto Condensed", sans-serif;
}

@import "@angular/material/prebuilt-themes/indigo-pink.css";

/* Custom theme overrides */
body {
	--primary-color: #1ac000;  /* Material indigo */
	--accent-color: #ff4081;   /* Material pink */
	--warn-color: #f44336;     /* Material red */
}

/* Form field customization */
.mat-form-field {
	width: 100%;

	&.mat-focused {
		.mat-form-field-label {
			color: var(--primary-color);
		}

		.mat-form-field-ripple {
			background-color: blueviolet;
		}
	}
}
