:host {
	display: flex;
	justify-content: center;

	color: #5FBA47;
	font-weight: bold;
	font-size: 10px;
	background-color: #333333;

	max-width: 135px;
}

button {
	all: unset;
}

.login-icon {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;


	.text {
		margin-top: 7px;
	}

	img {
		width: 24px;
	}
}
